@font-face {
  font-family: 'Muller';
  src: url('/fonts/MullerLight.woff') format('woff2'),
    url("/fonts/MullerLight.woff") format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('/fonts/MullerRegular.woff2') format('woff2'),
    url("/fonts/MullerRegular.woff") format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('/fonts/MullerMedium.woff2') format('woff2'),
    url("/fonts/MullerMedium.woff") format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('/fonts/MullerBold.woff2') format('woff2'),
    url("/fonts/MullerBold.woff") format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Muller', sans-serif;
  font-size: 16px;
  color: #000;
  background-color: #F1F1F1;
}

a {
  color: inherit;
  text-decoration: none;
}
h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

/* Booton */
.btn {
  display: inline-block;
  padding: 13px 20px;
  border: 1px solid #CC9933;
  border-radius: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  color: #CC9933;
  background: none;
}

/* Section-title */
.section-title {
  margin-left: 40px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  color: #333333;
}

/* Header */
.header-wrap {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.header-logo {
  width: 261px;
  height: 54px;
  margin-right: 40px;
}

.header-tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #666666;
}

.header-user {
  margin-left: auto;
}

.header-btn-user {
  padding: 5px 0px 5px 29px;
  border: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  color: #CC9933;
  background: none;
  background: url("/img/keyboard_tab.svg") no-repeat left center;
}

/* Menu */
.menu {
  display: flex;
  padding: 14px 45px;
  background: #FFFFFF;
  border-radius: 15px;
}

.menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 642px;
  margin-right: auto;
}

.menu-item {
  height: 100%;
}

.menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
}

.menu-btn-tur {
  margin-right: 40px;
}

/* Special */
.special {
  margin: 70px 0;
}

.special-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  width: 100%;
}

.special-item {
  min-height: 258px;
  padding: 40px 45px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.special-item-maldives {
  margin-bottom: 24px;
  background-image: url("/img/maldives.jpg");
}

.special-item-krit {
  background-image: url("/img/krit.jpg");
}

.special-block-big {
  padding-top: 212px;
  min-height: 540px;
  background-image: url("/img/room.jpg");
}

.special-item-title {
  width: 420px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  color: #FFFFFF;
}

.special-item-title-big {
  width: 300px;
  font-size: 60px;
}

.special-item-price {
  margin-bottom: 47px;
  font-weight: normal;
  font-size: 20px;
  line-height: 1;
  color: #FFFFFF;
  opacity: 0.8;
}

.special-item-price-big {
  font-size: 30px;
}

.special-item-link {
  display: inline-block;
  width: 102px;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #F0BF5F;
  background-image: url("/img/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

/* About */
.about {
  margin-bottom: 70px;
}

.about-descr {
  width: 890px;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
}

/* Services */
.services {
  margin-bottom: 70px;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content, max-content;
  gap: 24px;
}

.services-item {
  min-height: 330px;
  background-color: #fff;
  padding-bottom: 35px;
  border-radius: 15px;
}

.services-item-img {
  min-height: 165px;
  width: 573px;
  margin-bottom: 26px;
  border-radius: 15px 15px 0 0;
}

.services-item-img > img {
  border-radius: 15px 15px 0 0;
}

.services-item-link {
  display: inline-block;
  margin-left: 45px;
  padding-right: 22px;
  background-image: url('/img/arrow-right.svg');
  background-position: right center;
  background-repeat: no-repeat;
  font-weight: 500;
  font-size: 20px;
  line-height: 2;
  color: #CC9933;
}

.services-item-descr {
  width: 400px;
  margin-left: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
}

/* Advantages */
.advantages {
  margin-bottom: 70px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, max-content);
  grid-auto-rows: max-content;
  gap: 22px;
}

.advantages-item {
  min-height: 276px;
  padding: 116px 42px 32px 45px;
  border-radius: 15px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 45px 40px;
}

.advantages-item-bathtub {
  background-image: url(/img/bathtub.svg);
}

.advantages-item-hanger {
  background-image: url(/img/hanger.svg);
}

.advantages-item-heating {
  background-image: url(/img/heating.svg);
}

.advantages-item-hotel-key {
  background-image: url(/img/hotel-key.svg);
}

.advantages-item-parking {
  background-image: url(/img/parking.svg);
}

.advantages-item-reception {
  background-image: url(/img/reception.svg);
}

.advantages-item-security-box {
  background-image: url(/img/security-box.svg);
}

.advantages-item-swimming-pool {
  background-image: url(/img/swimming-pool.svg);
}

.advantages-descr {
  font-weight: normal;
  font-size: 16px;
  line-height: 2;
}

/* Placement */
.placement {
  margin-bottom: 70px;
}

.placement-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  gap: 24px;
}

.placement-item {
  min-height: 440px;
  padding-bottom: 45px;
  border-radius: 15px;
  background-color: #fff;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
}

.placement-img {
  width: 374px;
  height: 217px;
  margin-bottom: 32px;
}

.placement-img > img {
  border-radius: 15px 15px 0 0;
}

.placement-price {
  display: inline-block;
  width: 144px;
  margin-right: 53px;
  margin-left: 45px;
  margin-bottom: 16px;
  color: #999999;
}

.placement-price > span {
  font-weight: 700;
  font-size: 14px;
  color: #000000;
}

.placement-price > b {
  font-weight: normal;
  color: #000000;
}

.placement-rating {
  display: inline-flex;
  justify-content: space-between;
  width: 94px;
  height: 14px;
}

.placement-rating > span {
  display: block;
  width: 14px;
  height: 14px;
  background-image: url("/img/star.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.placement-rating > span.active {
  background-image: url("/img/star-active.svg");
}

.placement-title {
  display: inline-block;
  margin-left: 45px;
  margin-bottom: 16px;
  font-weight: normal;
}

.placement-address {
  display: block;
  margin-left: 45px;
  margin-bottom: 20px;
  font-style: normal;
  color: #999999;
}

.placement-link {
  margin-left: 45px;
}

.placement-item-all {
  padding: 373px 54px 27px;
  background-image: url("/img/card-all.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.placement-link-all {
  display: block;
  width: 277px;
  padding-right: 11px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #FFFFFF;
  background-image: url("/img/arrow-right-with.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

/* Tur */

/* Contacts */
.contacts {
  padding-bottom: 40px;
}

.contacts-wrap {
  display: grid;
  grid-template-columns: 375px 653px;
  gap: 52px;
  padding: 45px;
  border-radius: 15px;
  background-color: #fff;
}

.contacts-list {
  margin-bottom: 45px;
}

.contacts-item {
  display: flex;
  margin-bottom: 25px;
  padding-bottom: 23px;
  border-bottom: 1px solid #E9E9E9;
}

.contacts-item:last-child {
  margin-bottom: 0;
}

.contact-item-title {
  margin-right: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.contacts-item-right {
  width: 235px;
  line-height: 1.5;
}

.contacts-address {
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  font-weight: normal;
}

.contacts-link {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  color: #CC9933;
}

.contacts-mail-deskr {
  font-weight: normal;
  line-height: 1.5;
  color: #999999;
}

.contacts-btn {}

.footer-container {
  display: flex;
}