/* Media */

@media (min-width: 768px) {
	.container {
		width: 688px;
	}

	.section__title {
		font-size: 48px;
	}

	/* Btn */
	.btn {
		font-size: 16px;
	}
	
	/* Header */
	.hero {
		margin-bottom: 40px;
	}

	.header__logo {
		width: 150px;
	}

	.header__menu {
		width: 420px;
		padding-left: 50px;
	}

	.header__search-panel {
		top: 0;
		right: 0;
		width: 540px;
		height: 60px;
		left: unset;
		padding: 0;
		padding-left: 32px;
		padding-right: 13px;
		border-radius: 16px 16px 16px 16px;
	}

	.header__search-panel-container {
		width: 100%;
		margin: 0;
	}

	.header__search-panel-form {
		width: 450px;
	}

	.header__search-panel-input {
		width: 412px;
		margin-right: 14px;
		font-size: 18px;
	}

	.header__search-panel-input::placeholder {
		font-size: 18px;
	}

	/* Menu */
	.menu__close {
		margin-bottom: 106px;
	}

	.menu__link {
		font-size: 24px;
		padding: 30px 0;
	}

	/* Hero */
	.hero {
		height: 662px;
	}

	.hero__container {
		height: 100%;
		padding: 160px 40px 30px;
	}

	.hero__title {
		margin-bottom: 16px;
		font-size: 50px;
		line-height: 61px;
	}

	.hero__desc {
		margin-bottom: 60px;
		font-size: 18px;
		line-height: 22px;
	}

	.hero__btn {
		margin-left: 0;
		margin-bottom: 140px;
		padding: 25px 39px;
		font-size: 23px;
		border-radius: 16px;
	}

	.hero__img-1 {
		background-image: url("/img/hero/hero-pic-768-1.jpg");
	}

	.hero__img-2 {
		background-image: url("/img/hero/hero-pic-768-2.jpg");
	}

	.hero__img-3 {
		background-image: url("/img/hero/hero-pic-768-3.jpg");
	}

	/* About */
	.about {
		margin-bottom: 80px;
	}

	.about__desc {
		margin-bottom: 60px;
		font-size: 16px;
		line-height: 32px;
	}

	.about__img {
		height: 650px;
		background-image: url("/img/about/about-768.jpg");
		background-size: cover;
		border-radius: 24px;
	}

	.about__img-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 196px;
		padding: 34px 40px;
		background: rgba(0, 0, 0, 0.5);
		border-radius: 24px;
	}

	.about__img-desc {
		width: 366px;
		font-weight: 700;
		font-size: 16px;
		color: #FFFFFF;
	}

	.about__btn {
		margin-left: auto;
		margin-right: 0;
		padding: 20px 38px;
		color: #fff;
		background: none;
	}

	.about__item {
		display: flex;
		justify-content: space-between;
		height: 235px;
		padding: 35px 48px 35px 40px;
		border: 1px solid #CACACA;
		border-radius: 24px;
	}

	.about__item-icon {
		width: 114px;
		height: 99px;
	}

	.about__item-wrap {
		margin-bottom: 8px;
		width: 452px;
	}

	.about__item-title {
		font-size: 24px;
		font-weight: 700;
	}

	/* How */
	.how {
		margin-bottom: 50px;
	}

	.how__step-list {
		justify-content: space-between;
		margin: 50px 0;
	}

	.how__step-btn {
		font-size: 18px;
	}

	.how__item-title {
		font-weight: 700;
		font-size: 24px;
	}

	.how__img {
		margin-bottom: 38px;
	}

	.how__item-desc {
		font-size: 16px;
	}

	.how__item-btns {
		display: inline-flex;
	}

	.how .btn {
		padding: 20px 38px;
		border-radius: 16px;
	}

	.how__btn {
		margin-left: 32px;
		padding: 20px 38px;
		border-radius: 16px;
	}

	/* Faq */
	.faq {
		margin: 0;
		padding-bottom: 110px;
	}

	.faq__item-desc {
		width: 570px;
		font-weight: 700;
		font-size: 20px;
		line-height: 32px;
		color: #000000;
	}

	.faq__item-btn {
		width: 50px;
		height: 50px;
	}

	/* Footer */
	.footer {
		padding: 50px 0;
	}

	.footer__block-link-img {
		width: 224px;
		height: 72px;
		margin-left: 0;
	}

	.footer-social {
		width: 540px;
		justify-content: start;
	}

	.footer-social__item:not(:last-child) {
		margin-right: 25px;
	}

	.footer__block-form-title {
		margin-bottom: 25px;
		font-size: 48px;
	}

	.footer__block-form {
		width: 541px;
		margin-bottom: 50px;
		padding-bottom: 0;
		border: none;
	}

	/* Form */
	.form__input {
		padding-left: 24px;
		font-size: 16px;
	}

	.form__input::placeholder {
		font-size: 16px;
	}
	
	.form__wrap {
		display: flex;
	}

	.form__btn {
		margin: 0;
		margin-right: 20px;
		padding: 19px 38px;
	}

	.form__label {
		margin: 0;
	}
}