@media (min-width: 1024px) {
	.container {
		width: 924px;
	}

	

	/* Header */
	.header {
		height: 100px;
	}

	/* Hero */
	.hero {
		margin-top: 140px;
	}

	.hero__container {
		padding: 160px 77px;
	}

	.hero__title {
		font-size: 60px;
		line-height: 73px;
	}

	.hero__img-1 {
		background-image: url("/img/hero/hero-pic-1024-1.jpg");
	}

	.hero__img-2 {
		background-image: url("/img/hero/hero-pic-1024-2.jpg");
	}

	.hero__img-3 {
		background-image: url("/img/hero/hero-pic-1024-3.jpg");
	}

	.hero__btn {
		margin-bottom: 115px;
	}

	.hero__dots {
		width: 85px;
	}

	.hero__dot {
		width: 15px;
		height: 15px;
	}

	/* About */
	.about__item {
		min-height: 295px;
		padding-top: 65px;
		padding-left: 77px;
		padding-right: 155px;
	}

	.about__item-icon {
		width: 190px;
		height: 195px;
	}

	.about__desc {
		width: 450px;
		margin-bottom: 0;
	}
	
	.how__item {
	  display: grid;
	  grid-template-columns: 1fr 1fr;
		column-gap: 50px;
	}
}