@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.woff2') format('woff2'),
    url("/fonts/Montserrat-Regular.woff") format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Medium.woff2') format('woff2'),
    url("/fonts/Montserrat-Medium.woff") format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url("/fonts/Montserrat-SemiBold.woff") format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Bold.woff2') format('woff2'),
    url("/fonts/Montserrat-Bold.woff") format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url("/fonts/Montserrat-ExtraBold.woff") format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
	box-sizing: border-box;
	font-family: 'Montserrat';
}

body {
	position: relative;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
	padding-top: 99px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
	background-color: #fff;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
	height: auto;
}

html {
  height: 100%;
}

.container {
	width: 290px;
	margin: 0 auto;
}

.section__title {
	margin-bottom: 20px;
	font-size: 24px;
	line-height: 1;
	font-weight: 400;
	color: #000000;
}

/* Btn */
.btn {
	display: block;
	margin: 0 auto;
	padding: 13px 28px;
	border: none;
	border-radius: 8px;
	background-color: #FF9900;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	color: #FFFFFF;
}

/* Header */
.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	width: 100vw;
	height: 69px;
	background-color: #fff;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
	border-radius: 0px 0px 16px 16px;
}

.header__container {
	display: flex;
	height: 100%;
	justify-content: space-between;
	align-items: center;
}

.header__burger {
	width: 30px;
	height: 23px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header__burger span {
	width: 30px;
	height: 3px;
	background-color: #000000;
}

.header__logo {
 width: 110px;
}

.header__menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 30;
	display: none;
	height: 100vh;
	padding: 23px 15px;
	background-color: #fff;
}

.header__search {
	position: relative;
}

.header__search-btn {
	width: 24px;
	height: 24px;
	padding: 0;
	border: none;
	background: none;
	background-image: url("/img/icon/search.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: contain;
}

.header__search-panel {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
	display: none;
	width: 100vw;
	padding: 21px 0;
	height: 69px;
	background-color: #fff;
	border-radius: 0px 0px 16px 16px;
}

.header__search-panel-container {
	display: flex;
	align-items: center;
	width: 290px;
	height: 100%;
	margin: 0 auto;
}

.header__search-panel-form {
	display: flex;
}

.header__search-panel-input {
	display: inline-block;
	width: 222px;
	border: none;
	border-bottom: 1px solid #DCDCDC;
	font-size: 16px;
	line-height: 1;
	color: #ADADAD;
}

.header__search-panel-input::placeholder {
	font-size: 16px;
	line-height: 1;
	color: #ADADAD;
}

.header__search-panel-btn {
	width: 24px;
	height: 24px;
	padding: 0;
	border: none;
	font-size: 0;
	background: none;
	background-image: url("/img/icon/search-form.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: contain;
}

.header__search-panel-close {
	width: 24px;
	height: 24px;
	margin-left: auto;
	background-image: url("/img/icon/closed_search.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: contain;
}

/* Menu */
.menu {
	overflow: scroll;
	border-radius: 0px 0px 16px 16px;
}

.menu__close {
	width: 23px;
	height: 23px;
	margin-bottom: 32px;
	background-image: url("/img/icon/menu-close.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: contain;
}

.menu__list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu__link {
	display: inline-block;
	padding: 16px 0;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #333333;
}

.menu__item:first-child .menu__link {
	padding-top: 0;
}

.menu__item:last-child .menu__link {
	padding-bottom: 0;
}

/* Hero */

.hero {
	border-radius: 16px;
	margin-bottom: 60px;
}

.hero__container {
	height: 308px;
	padding: 60px 22px 15px;
}

.hero__title {
	margin-bottom: 6px;
	font-weight: 800;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
}

.hero__desc {
	margin-bottom: 32px;
	font-style: 400;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	color: #FFFFFF;
}

.hero__btn {
	margin-bottom: 32px;
}

.hero__dots {
	display: flex;
	margin: 0 auto;
	width: 70px;
}

.hero__dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #CACACA;
}

.hero__dot:not(:last-child) {
	margin-right: 20px;
}
.hero__dot--active {
	background-color: #fff;
}

.hero__img-1,
.hero__img-2,
.hero__img-3 {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: contain;
}

.hero__img-1 {
	background-image: url("/img/hero/hero-pic-320-1.jpg");
}

.hero__img-2 {
	background-image: url("/img/hero/hero-pic-320-2.jpg");
}

.hero__img-3 {
	background-image: url("/img/hero/hero-pic-320-3.jpg");
}

/* About */
.about {
	margin-bottom: 60px;
}

.about__desc {
	margin-bottom: 14px;
	font-size: 14px;
	line-height: 2;
	font-weight: 400;
	color: #000000;
}
 
.about__img {
	position: relative;
	height: 400px;
	margin-bottom: 32px;
	background-image: url("/img/about/about-320.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 16px 16px 0 0;
}

.about__img-wrap {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.about__img-desc {
	margin-bottom: 14px;
	font-size: 14px;
	line-height: 2;
	font-weight: 400;
	color: #000000;
}

.about__btn {
	margin-left: 0;
	border: 2px solid #FF9900;
	background-color: #fff;
	color: #FF9900;
	padding: 12px 44px;
}

.about__item:not(:last-child) {
	margin-bottom: 32px;
}

.about__item-icon {
	width: 64px;
	height: 49px;
	margin-bottom: 12px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: contain;
}

.about__item-icon-gear {
	background-image: url("/img/about/gear.svg");
}

.about__item-icon-package {
	background-image: url("/img/about/package.svg");
}

.about__item-title {
	margin-bottom: 4px;
	font-weight: 500;
	font-size: 18px;
	line-height: 1;
	color: #000000;
}

/* How */
.how {
	margin-bottom: 60px;
}

.how__step-list {
	display: flex;
	margin-bottom: 16px;
}

.how__step-btn {
	text-transform: lowercase;
	font-weight: 400;
	font-size: 14px;
	line-height: 1;
	color: #000;
	background: none;
	border: none;
}

.how__step-btn--active {
	color: #E1670E;
}

.how__item {
	display: flex;
	flex-direction: column-reverse;
}

.how__item-title {
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 18px;
	line-height: 1;
	color: #000000;
}

.how__img {
	margin-bottom: 16px;
}

.how__item-desc {
	margin-bottom: 25px;
	font-size: 14px;
	line-height: 2;
	font-weight: 400;
	color: #000;
}

.how__item-btns {
	display: flex;
}

.how__btn {
	padding: 12px 32px;
	border: 1px solid #000;
	background-color: #fff;
	font-weight: 400;
	color: #000;
}

/* Faq */
.faq {
	margin-bottom: 60px;
}

.faq__item {
	padding: 30px 0;
	border-bottom: 1px solid #CACACA;
}

.faq__item:first-child {
	border-top: 1px solid #CACACA;
}

.faq__item-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.faq__item-desc {
	width: 245px;
	font-weight: 500;
	font-size: 14px;
	line-height: 2;
	color: #000000;
}

.faq__item-btn {
	width: 30px;
	height: 30px;
	background-image: url("/img/icon/plus.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: contain;
}

.faq__item-block {
	display: none;
}

/* Footer */
.footer {
  padding: 33px 0 30px;
  background-color: #000;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__block-link-img {
  width: 131px;
  height: 42px;
  margin: 0 auto 16px;
}

.footer__block-link-menu {
  display: none;
}

.footer-social {
  display: flex;
  justify-content: center;
}

.footer-social__list {
  display: flex;
}

.footer-social__item:not(:last-child) {
  margin-right: 17px;
}

.footer-social__link {
  display: block;
  width: 40px;
  height: 40px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-social__link-ok {
  background-image: url('/img/icon/ok.svg');
}

.footer-social__link-vk {
  background-image: url('/img/icon/vk.svg');
}

.footer__block-form {
  order: -1;
	padding-bottom: 16px;
	margin-bottom: 16px;
	border-bottom: 1px solid #414141;
}

.footer__block-form-title {
	margin-bottom: 20px;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  color: #CACACA;
}

.footer__block-desk {
  display: none;
}

/* Form */
.form__input {
  display: block;
  width: 100%;
  padding: 14px 0 14px 20px;
  border: none;
  border-radius: 16px;
  background-color: #414141;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  color: #CACACA;
}

.form__input:not(:last-child) {
	margin-bottom: 25px;
}

.form__input::placeholder {
  font-size: 14px;
  line-height: 32px;
  color: #CACACA;
}

.form__label {
	position: relative;
	margin-bottom: 12px;
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	color: #CACACA;
}

.form__check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__check+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.form__check+label::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
	margin-right: 5px;
  border: 1px solid #adb5bd;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90% 90%;
}

.form__check:checked+label::before {
  background-image: url("/img/icon/check.svg");
}

.form__textarea {
	height: 150px;
}

.form__btn {
	margin-bottom: 12px;
}